# Ignore everything except the files that have been manually configured

*
!*/

!.gitignore

!LICENSE
!README.md
!screenshot-dark.png
!screenshot-light.png
!aprompt-demo.png

!docs/colors.css
!docs/index.css
!docs/index.html
!docs/index.js

!install

!alacritty/.config/alacritty/alacritty.yml

!base16/.config/base16/schemes/base16-ngeva.yml
!base16/.config/base16/templates/alacritty/dark.ejs
!base16/.config/base16/templates/user-chrome/dark.ejs
!base16/.local/bin/theme-distribute
!base16/.local/bin/theme-generate

!bat/.config/bat/config
!bat/.config/bat/themes/base16-ngeva.tmTheme

!git/.gitconfig
!git/.gitignore

!npm/.npmrc

!neofetch/.config/neofetch/config.conf
!neofetch/.config/neofetch/ascii.txt

!spectrwm/.local/bin/spectrwm_cmd
!spectrwm/.spectrwm.conf
!spectrwm/.spectrwm_us.conf

!spotify/.config/spotifyd/spotifyd.conf

!startpage/.config/startpage

!nvim/.config/nvim/init.vim

!vscode/.config/Code\ -\ OSS/User/keybindings.json
!vscode/.config/Code\ -\ OSS/User/settings.json

!xorg/.Xmodmap
!xorg/.xinitrc

!zsh/.zprofile
!zsh/.zsh_prompt
!zsh/.zshenv
!zsh/.zshrc

