# Ignore everything except the files that have been manually configured

*
!*/

!.gitignore

!LICENSE
!README.md
!aprompt-git-demo.png
!screenshot-dark.png
!screenshot-light.png

!docs/colors.css
!docs/index.css
!docs/index.html
!docs/index.js

!install

!alacritty/.config/alacritty/alacritty.yml

!base16/.config/base16/schemes/base16-ngeva.yml
!base16/.config/base16/templates/alacritty/dark.ejs
!base16/.config/base16/templates/user-chrome/dark.ejs
!base16/.local/bin/theme-distribute
!base16/.local/bin/theme-generate

!bat/.config/bat/config
!bat/.config/bat/themes/base16-ngeva.tmTheme
!bat/.config/bat/themes/Monokai\ Classic.tmTheme
!bat/.config/bat/themes/Monokai\ Pro\ (Filter\ Machine).tmTheme
!bat/.config/bat/themes/Monokai\ Pro\ (Filter\ Octagon).tmTheme
!bat/.config/bat/themes/Monokai\ Pro\ (Filter\ Ristretto).tmTheme
!bat/.config/bat/themes/Monokai\ Pro\ (Filter\ Spectrum).tmTheme
!bat/.config/bat/themes/Monokai\ Pro\ Light\ (Filter\ Sun).tmTheme
!bat/.config/bat/themes/Monokai\ Pro\ Light.tmTheme
!bat/.config/bat/themes/Monokai\ Pro.tmTheme

!git/.gitconfig
!git/.gitignore
!git/.stow-local-ignore

!npm/.npmrc

!neofetch/.config/neofetch/ascii.txt
!neofetch/.config/neofetch/config.conf

!spectrwm/.local/bin/spectrwm_cmd
!spectrwm/.spectrwm.conf
!spectrwm/.spectrwm_us.conf

!spotify/.config/spotifyd/spotifyd.conf

!startpage/.config/startpage

!vscode/.config/Code\ -\ OSS/User/keybindings.json
!vscode/.config/Code\ -\ OSS/User/settings.json

!xorg/.Xmodmap
!xorg/.xinitrc

!zsh/.zsh/functions/vcs_info/backends/VCS_INFO_detect_jj
!zsh/.zsh/functions/vcs_info/backends/VCS_INFO_get_data_jj
!zsh/.zprofile
!zsh/.zsh_prompt
!zsh/.zshenv
!zsh/.zshrc
